@media only screen and (max-width: 400px) {
}

body {
  font-family: sans-serif;
}

.app {
  max-width: 600px;
}

.app-button {
  background-color: rgba(93, 60, 44, 0.634);
  color: white;
  width: 80px;
  height: 40px;
}

.app-button:hover {
  background-color: darkmagenta;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  width: 80px;
  height: 40px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
